.cache
.config
.DS_Store
.ipython
.jupyter
.nv
.Rapp.history
.RData
.Rhistory
.Rproj.user
.Ruserdata
.snakemake
analysis/*_cache
analysis/*html
analysis/*png
analysis/figure
analysis/site_libs
cellranger_BSF_1105_Mouse_Cortex_SCGN_P02_1
cellbender/*.h5
cellbender/*.h5ad
data/SCP1290
fastq
mm10_tdTomato
scrublet/*.h5ad
*.tar.gz
